.__hero {
    background-color: $secondary-bg;
    border-radius: 8px;
    margin: 35px 5%;
    padding: 20px;
    height: 500px;

    .__button{
        width: 205px;
        background-color: $secondary-bg;
        position: relative;
        top: -80px;
        left: 42%;
        padding: 15px 15px 0 15px;
        border-radius: 6px 6px 0 0;

        div{
            background-color: $primary-bg;
            width: 180px;
            height: 61px;
            border-radius: 6px 6px 0 0;
            padding: 12px;

            button{
                font-weight: bold;
                //height: 40px;
                font-size: 20px;
                padding: 16px 28px;
                color: #ffffff;
                background-color: $blue-color;
                border: none;
                border-radius: 6px;
                cursor: pointer;
            }
        }
    }

    .__image {
        height: 500px;

        img {
            border-radius: 8px;
            height: 100%;
            width: 100%;
            object-fit: cover;
            mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0.556), #000000cc 150px);
        }

        h1 {
            font-weight: normal;
            position: relative;
            top: -125px;
            font-size: 40px;
            margin-left: 20px;

            span {
                font-size: 30px;
                display: block;
                margin-left: 80px;
            }
        }
    }
}