.__newsletter {
    background-color: $secondary-bg;
    border-radius: 8px;
    margin: 35px 5%;
    padding: 80px;

    h3{
        font-size: 30px;
        margin: 15px 0;
    }

    h5{
        font-size: 26px;
        font-weight: initial;
        margin: 15px 0;
    }

    p{
        margin: 15px 0;
    }

    .__input{
        background-color: $primary-bg;
        width: 455px;
        border-radius: 6px;
        padding: 4px;
        margin: 40px auto 20px auto;

        span{
            color: $blue-color;
        }

        span{
            padding-left: 15px;
        }

        input[type=email]{
            padding-left: 30px;
            outline: none;
            width: 300px;
            height: 40px;
            font-size: 20px;
            background-color: transparent;
            border: none;
            color: #ffffff;

            &:placeholder-shown{
                color: #ffffff;
            }
        }


        .__send_button{
            height: 40px;
            width: 80px;
            font-size: 18px;
            font-weight: bold;
            color: #ffffff;
            background-color: $blue-color;
            border: none;
            border-radius: 6px;
            cursor: pointer;

            &:hover{
                opacity: 0.7;
            }
        }
    }

    .__paper_plane{
        margin-bottom: -5px;
        -webkit-animation: slide-out-right 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
        animation: slide-out-right 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    }

    @media only screen and (max-width: 1200px){
        margin: 25px 3%;
        padding: 20px;
        text-align: center;
    
        h3{
            font-size: 20px;
            margin: 10px 0;
        }
    
        h5{
            font-size: 16px;
            font-weight: initial;
            margin: 10px 0;
        }
    
        p{
            font-size: 14px;
            margin: 15px 0;
        }
    
        .__input{
            width: 265px;
            border-radius: 6px;
            padding: 4px;
            margin: 20px auto 10px auto;

            span{
                padding-left: 12px;
            }
    
            input[type=email]{
                padding-left: 5px;
                width: 140px;
                height: 40px;
                font-size: 14px;
            }
    
            .__send_button{
                height: 40px;
                width: 80px;
                font-size: 14px;
            }
        }
    }
    @media only screen and (max-width: 600px){
        margin: 25px 3%;
        padding: 20px;
        text-align: center;
    
        h3{
            font-size: 20px;
            margin: 10px 0;
        }
    
        h5{
            font-size: 16px;
            font-weight: initial;
            margin: 10px 0;
        }
    
        p{
            font-size: 14px;
            margin: 15px 0;
        }
    
        .__input{
            width: 265px;
            border-radius: 6px;
            padding: 4px;
            margin: 20px auto 10px auto;

            span{
                padding-left: 12px;
            }
    
            input[type=email]{
                padding-left: 5px;
                width: 140px;
                height: 40px;
                font-size: 14px;
            }
    
            .__send_button{
                height: 35px;
                width: 75px;
                font-size: 14px;
            }
        }
    }
}

@-webkit-keyframes slide-out-right {
    0% {
      -webkit-transform: translateX(-200px);
              transform: translateX(-200px);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(380px);
              transform: translateX(380px);
      opacity: 0;
    }
  }
  @keyframes slide-out-right {
    0% {
      -webkit-transform: translateX(-200px);
              transform: translateX(-200px);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(380px);
              transform: translateX(380px);
      opacity: 0;
    }
  }
  