.__admin_pannel {
    height: 90vh;

    h1 {
        margin: 0;
    }

    .__logout_btn{
        position: absolute;
        top: 0;
        right: 0;
        button {
            cursor: pointer;
            background-color: transparent;
            border: none;
            color: #ffffff;
            margin: 20px;
            padding: 5px;
            display: inline-flex;
            align-items: flex-start;
            transition: 0.3s;

            &:hover {
                transform: translate(5px);
            }

            img {
                padding-left: 4px;
            }
        }
    }

    .__pannel {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: 0.4fr 1.6fr;
        grid-template-rows: 1fr;
        gap: 0px 0px;
        height: 100%;


        .__menu {
            height: 100%;
            background-color: $secondary-bg;
            margin: 10px;
            border-radius: 8px;

            button{
                width: 100%;
                height: 50px;
                font-size: 18px;
                background-color: transparent;
                cursor: pointer;
                color: $white-color;
                border-top: none;
                border-right: none;
                border-left: none;
                border-bottom: 2px solid $primary-bg;
                transition: 0.2s;

                &:hover{
                    background-color: $primary-bg;
                }
            }

        }

        .__container {
            height: 100%;
            background-color: $secondary-bg;
            margin: 10px;
            border-radius: 8px;
        }
    }

    table{
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        border: 1px solid $primary-bg;
        margin: 10px 0;

        th{
            background-color: $primary-bg;
            color: $white-color;
            padding: 10px;
            text-align: left;
            cursor: default;
        }

        td{
            padding: 10px;
            border-bottom: 1px solid $primary-bg;
            cursor: pointer;

            &:hover{
                background-color: $primary-bg;
                color: $white-color;
            }
        }
    }

    .__message_no_data{
        text-align: center;
        margin-top: 50px;
    }
}