.__dashboard {
    display: grid;
    grid-template-columns: 0.4fr 1.6fr;
    grid-template-rows: 0.2fr 1.8fr;
    gap: 0px 0px;
    grid-template-areas:
        "header header"
        "side_menu view";
    height: 100vh;

    hr {
        border: solid 1px $secondary-bg;
    }

    .__header {
        grid-area: header;
    }

    .__side_menu {
        grid-area: side_menu;
    }

    .__view {
        grid-area: view;
        overflow: scroll;
        padding-right: 40px;

        .__content {
            border-radius: 70px 70px 0 0;
            min-height: 85vh;
            background-color: $secondary-bg;
            padding: 40px;

            .__rounded {
                display: none; //Block
                background-color: $primary-bg;
                height: 80px;
                position: -webkit-sticky;
                position: sticky;
                margin: -40px;
                top: 0;
                clip-path: polygon(0 0, 0 100%, 10% 0, 90% 0, 100% 100%, 100% 0);
            }
        }
    }
}