.__dashboard {
    display: grid;
    grid-template-columns: 0.4fr 1.6fr;
    grid-template-rows: 0.2fr 1.8fr;
    gap: 0px 0px;
    grid-template-areas:
        "header header"
        "side_menu view";
    height: 100vh;

    hr {
        border: solid 1px $secondary-bg;
    }

    .__header {
        grid-area: header;
    }

    .__side_menu {
        grid-area: side_menu;
    }

    .__shortcut {
        button {
            cursor: pointer;
            background-color: transparent;
            border: none;
            margin: 0 10px;
        }

        .__gear{
            transition: transform 0.8s cubic-bezier(.68, -0.55, .27, 1.55);
            &:hover{
                transform: rotate(0.2turn);
            }
        }

        .__envelope {
            &:hover {
                animation: wriggle 1.5s ease;
            }
        }
    }

    .__view {
        grid-area: view;
        overflow-y: auto;
        padding-right: 40px;

        .__content {
            border-radius: 70px 70px 0 0;
            min-height: 85vh;
            background-color: $secondary-bg;
            padding: 40px;

            .__rounded {
                display: none; //Block
                background-color: $primary-bg;
                height: 80px;
                position: -webkit-sticky;
                position: sticky;
                margin: -40px;
                top: 0;
                clip-path: polygon(0 0, 0 100%, 10% 0, 90% 0, 100% 100%, 100% 0);
            }
        }
    }

    @media only screen and (max-width: 900px){
        .__shortcut>button{
            margin: 0;
        }

        .__view {
            padding-right: 0;
            overflow-y: inherit;
            
            .__content {
                border-radius: 40px 0 0 0;
                padding: 20px 5px;
            }
        }

        .__side_menu {
            hr{
                display: none;
            }
        }
    }
}

@keyframes wriggle {
    30% {
        transform: scale(1.1);
    }

    40%,
    60% {
        transform: rotate(-20deg) scale(1.1);
    }

    50% {
        transform: rotate(20deg) scale(1.1);
    }

    70% {
        transform: rotate(0deg) scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-15px);
    }

    60% {
        transform: translateY(-5px);
    }
}