.__error {
    display: grid;

    .__container {
        margin: 5% auto 0 auto;
        text-align: center;

        h1 {
            font-size: 30px;
            color: #cbcbcb;
        }

        a {
            color: $white-color;
        }
    }

    @media only screen and (max-width: 1000px) {
        height: 100vh;
        align-items: center;

        .__container {
            margin: 0;

            img{
                width: 100%;
            }

            h1 {
                font-size: 20px;
            }

        }
    }
}