.__reset_password {
    .__avatar {
        margin-top: 40px;
        margin-bottom: 40px;
        width: 80px;
        height: 80px;
        border: solid 5px $primary-bg;
        border-radius: 50%;
    }
    
    .__pwd_details {
        font-size: 14px;
        color: #495aa7;
        margin-top: 0;
        margin-bottom: 10px;
    }
}