$margenta-color: #db6ab5;
$purple-color: #6e3dc8;
$light-purple-color: #865bd6;
$blue-color: #6781f7;
$light-blue-color: #7890fb;
$dark-blue-color: #1d273a;
$white-color: #ffffff;
$primary-bg: #182030;
$secondary-bg: #222d42;