@font-face {
    font-family: "Lobster";
    src: font-files("../assets/fonts/Lobster.ttf") format("truetype");
}

@font-face {
    font-family: "Raleway";
    src: font-files("../assets/fonts/Raleway.ttf") format("truetype");
}