:root {
    --toastify-color-dark: #222d42;
}

* {
    font-family: "Helvetica";
    font-size: 16px;
    scroll-behavior: smooth;

    @media only screen and (max-width: 600px){
        font-size: 14px;
    }
}

body {
    margin: 0;
    background-color: $primary-bg;
    color: $white-color;
}

/*
@media only screen and (max-width: 1200px){
    Tablets [601px -> 1200px]
}
@media only screen and (max-width: 600px){
	Big smartphones [426px -> 600px]
}
@media only screen and (max-width: 425px){
	Small smartphones [325px -> 425px]
}
*/