.__employees {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;

    .__btn_verif {
        width: 85px;

        .__btn {
            float: right;
            cursor: pointer;
            padding-top: 4px;
            border: none;
            top: 0;
            background-color: transparent;

            :hover {
                background-color: $secondary-bg;
            }

            .__green_bg {
                background-color: #348334;
            }

            .__red_bg {
                background-color: #cd4747;
            }

            img {
                padding: 6px;
                border-radius: 8px;
            }
        }
    }

    tr {

        &:hover {
            background-color: $primary-bg;
            color: $white-color;
        }

        td {
            padding: 10px;
            border-bottom: 1px solid $primary-bg;
            cursor: default;
        }
    }

}