.__wrapper {
    background-color: $secondary-bg;
    border-radius: 5px 0 0 5px;
    text-align: center;
    padding: 80px;
    margin: 20px 0;

    &.__left {
        border-radius: 0 5px 5px 0;
        margin-right: 10% !important;
        padding: 80px;
    }

    &.__right {
        border-radius: 5px 0 0 5px;
        margin-left: 10% !important;
        padding: 80px;
    }

    &.__center {
        border-radius: 5px;
        margin-left: 5% !important;
        margin-right: 5% !important;
        padding: 80px;
    }
}