.__company_info {
    padding-left: 2%;

    .__btn_add_info {
        cursor: pointer;
        padding-top: 4px;
        border: none;
        background-color: transparent;
        float: right;

        img {
            padding: 6px;
            border-radius: 8px;
            background-color: $blue-color;
        }

        :hover {
            background-color: $light-blue-color;
        }
    }

    .__inputs {
        border: solid 1px $primary-bg;
        border-radius: 8px;
        max-width: 320px;
        padding: 10px;
        margin: 10px 0;

        .__delete_btn {
            cursor: pointer;
            padding-top: 4px;
            border: none;
            top: 0;
            background-color: transparent;


            img {
                background-color: $primary-bg;
                padding: 6px;
                border-radius: 8px;
            }

            :hover {
                background-color: $secondary-bg;
            }
        }
    }

    table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
    }

    tr {

        &:hover {
            background-color: $primary-bg;
            color: $white-color;
        }

        td {
            padding: 10px;
            border-bottom: 1px solid $primary-bg;
            cursor: default;
        }
    }

    .__managers {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-gap: 10px;

        .__card {
            margin-top: 10px;
            padding: 10px;
            border-radius: 10px;
            background-color: $primary-bg;

            .__name {
                font-size: 20px;
            }

            .__email {
                font-size: 15px;
            }
        }
    }
}