.__calendar{
    width: 100% !important; // force react-calendar to be 100% width
    height: 60vh;
    color: #000000;
    border-radius: 8px;

    @media only screen and (max-width: 600px) {
        width: 82% !important; // force react-calendar to be 82% width
    }
}