.__home {

    .__multi_sections{
        display: grid; 
        grid-auto-columns: 1fr; 
        grid-template-columns: 1.3fr 0.7fr; 
        grid-template-rows: 1fr 1fr; 
        gap: 40px 40px; 
    }

    .__calendar{
        border-radius: 8px;
        width: 100% !important;
        min-height: 350px;
    }
}