.__home {

    .__multi_sections {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: 1.3fr 0.7fr;
        grid-template-rows: 1fr 1fr;
        gap: 40px 40px;
        grid-auto-flow: dense;
    }

    .__calendar {
        border-radius: 8px;
        width: 100% !important; // force react-calendar to be 100% width
        min-height: 350px;
        color: #000000;
    }

  @media only screen and (max-width: 1200px) {
    .__multi_sections {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
    }
  }

  @media only screen and (max-width: 600px) {
    .__calendar{
      display: none;
    }
  }
}