.__contact {
    width: 775px;

    form {
        textarea {
            padding: 10px;
            width: 750px;
            height: 300px;
            resize: none;
            border-radius: 6px;
        }

        .__red {
            color: #a31c1c;
        }

        select {
            padding: 5px 10px;
            font-size: 16px;
            border-radius: 6px;
            cursor: pointer;
            margin: 10px 10px 5px 0;
            background-color: $white-color;
            border: none;
        }

        input {
            padding: 5px 10px;
            font-size: 16px;
            border-radius: 6px;
            cursor: pointer;
            margin: 10px 10px 5px 0;
            background-color: $blue-color;
            color: #fff;
            font-weight: bold;
            border: none;
        }

        input:disabled {
            opacity: 0.6;
        }

        div {
            display: inline;
            float: right;
            margin-top: 10px;
        }
    }

    @media only screen and (max-width: 1200px){
        form {
            textarea {
                width: 72%;
            }
        }

        .__counter {
            display: none;
        }
    }

    @media only screen and (max-width: 900px){
        width: 100%;
        form {
            textarea {
                width: 90%;
            }

            select{
                width: 60%;
            }
        }
    }
}