.__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    .__logo {
        height: 35px;
        margin: 0 25px;
    }

    .__company_name {
        font-weight: bold;
        position: absolute;
        top: 68px;
        left: 75px;
    }

    .__menu {
        a {
            color: #ffffff;
            text-decoration: none;
            padding: 10px 8px;

            &:hover {
                border-bottom: solid white 2px;
            }
        }
    }

    .__disconnect {
        button {
            cursor: pointer;
            background-color: transparent;
            border: none;
            color: #ffffff;
            margin: 20px;
            padding: 5px;
            display: inline-flex;
            align-items: flex-start;
            transition: 0.3s;

            &:hover {
                transform: translate(5px);
            }

            img {
                padding-left: 4px;
            }
        }
    }
}