.__quick_contact {
    background-color: $dark-blue-color;
    border-radius: 8px;
    padding: 10px;

    ul {
        height: 300px;
        overflow-y: auto;

        h3 {
            margin: 25px 0 10px 0;
            padding: 0;
        }

        a {
            display: block;
            margin-top: 10px;
            color: #ffffff
        }
    }

    @media only screen and (max-width: 600px) {
        width: 90% !important;
    }
}