.__news{
    background-color: $light-blue-color;
    border-radius: 8px;
    padding: 10px;
    min-width: 400px;

    ul{
        list-style: none;
        padding: 0;
        margin: 0;
        li{
            margin-top: 5px;
            margin-left: 5px;
        }
    }

    .__date{
        font-size: 12px;
    }

    .__more_articles{
        cursor: pointer;
        font-weight: bold;
        display: grid;
        margin: 10px auto;
        padding: 5px;
    }
}