.__settings{

    .__img_details{
        font-size: 14px;
        color: #495aa7;
        margin-top: 0;
        margin-bottom: 10px;
    }

    .__danger_zone {
        h2{
            color: red;
        }
    }
}