.__settings{

    .__img_details, .__pwd_details{
        font-size: 14px;
        color: #495aa7;
        margin-top: 0;
        margin-bottom: 5px;
    }

    .__danger_zone {
        h2{
            color: red;
        }
    }

    @media only screen and (max-width: 900px){
        .__img_details>br{
            display: none;
        }
    }
}